{
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "eslint-plugin-html",
    "import"
  ],
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "no-console": [
      "error",
      {
        "allow": [
          "error"
        ]
      }
    ],
    "no-var": "error",
    "prefer-destructuring": "warn",
    "yoda": "error",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error"
  }
}
